/*
 *
 */
 body {
    margin: 0;
    padding: 0;
}
header, main, footer {
    margin: 0;
    padding: .5em;
    width: 100%;
}
header, footer {
    background-color: black;
    color: white;
}
footer {
    clear: both;
}
main {
    min-height: 350px;
}
address {
    font-style: oblique;
    font-size: .8em;
}
.left {
    float: left;
    width: 45%;
}
.right {
    float: right;
    width: 45%;
}
#buttons {
    margin-top: 1em;
}n date cheking te 